deploy/datafactory/pipeline/0_SourceToStaging/0_CopySourceToStaging.json
{
    "name": "0_CopySourceToStaging",
    "properties": {
        "description": "Scan the file path on your source storage store and get the container list.",
        "activities": [
            {
                "name": "EnumerateContainersList",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "sourceadlsds",
                        "type": "DatasetReference",
                        "parameters": {
                            "container": {
                                "value": "@pipeline().parameters.SourceFileFolder",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true
                    },
                    "formatSettings": {
                        "type": "BinaryReadSettings"
                    }
                }
            },
            {
                "name": "ForEachContainer",
                "description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "EnumerateContainersList",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('EnumerateContainersList').output.childItems",
                        "type": "Expression"
                    },
                    "batchCount": 4,
                    "activities": [
                        {
                            "name": "CopyOneContainer",
                            "description": "Copy each container from source storage store to destination store.",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "BinarySource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true
                                    },
                                    "formatSettings": {
                                        "type": "BinaryReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "BinarySink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings",
                                        "copyBehavior": "PreserveHierarchy"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "sourceadlsds",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "@pipeline().parameters.SourceFileFolder",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "destinationadlsds",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "container": {
                                            "value": "@pipeline().parameters.DestinationFileFolder",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "SourceFileFolder": {
                "type": "string",
                "defaultValue": "sourcefolder"
            },
            "DestinationFileFolder": {
                "type": "string",
                "defaultValue": "destinationfolder"
            }
        },
        "folder": {
            "name": "0_SourceToStaging"
        },
        "annotations": []
    }
}