deploy/datafactory/pipeline/0_SourceToStaging/0_GreenTaxiCopyToStaging.json
{
    "name": "0_GreenTaxiCopyToStaging",
    "properties": {
        "activities": [
            {
                "name": "nycgreentaxilookup",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": false,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "0_nycgreentaxidatads",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "foreachdata",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "nycgreentaxilookup",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('nycgreentaxilookup').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "relativeUrl",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "nycTaxiRelativeUrl",
                                "value": {
                                    "value": "@concat('green_tripdata_', item().Year, '-', item().Month, '.csv')",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Copy from Source",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "relativeUrl",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "BinarySource",
                                    "storeSettings": {
                                        "type": "HttpReadSettings",
                                        "requestMethod": "GET"
                                    }
                                },
                                "sink": {
                                    "type": "BinarySink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "0_nyctaxisourceds",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "0_nyctaxistagingds",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "variables": {
            "nycTaxiRelativeUrl": {
                "type": "String"
            },
            "nycTaxiType": {
                "type": "String",
                "defaultValue": "green"
            }
        },
        "folder": {
            "name": "0_SourceToStaging"
        },
        "annotations": []
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}